{% extends 'student/base.html' %} {% block content %}
<section>
  <h3>Quiz Information</h3>
  <div class="quiz_info_container">
    <div class="card">
      <h4>All Quizzes</h4>
      <h5>{{all_quizzes_count}}
    </div>
    <div class="card">
      <h4>Completed Quizzes</h4>
      <h5>{{completed_quizzes_count}}
    </div>
    <div class="card">
      <h4>Remaining Quizzes</h4>
      <h5>{{uncompleted_quizzes_count}}</h5>
    </div>
  </div>
</section>

<section>
  <h3>Completed quizzes</h3>
  <div class="quiz_info_container">
    {% for quiz in completed_quizzes %}
      <div class="card">
        <h4>{{quiz.title}}</h4>
        <p>{{quiz.description}}</p>
      </div>
    {% endfor %}
  </div>
</section>

<section>
  <h3>Remaining quizzes</h3>
  <div class="quiz_info_container">
    {% for quiz in uncompleted_quizzes %}
      <div class="card">
        <h4>{{quiz.title}}</h4>
        <p>{{quiz.description}}</p>
        <a href="{% url 'cbt:take_quiz' quiz.pk %}" class="btn btn-success">Take Quiz</a>
      </div>
    {% endfor %}
  </div>
</section>

{% endblock content %}
