{% extends 'student/base.html' %} {% block content %}
<section>
  <div class="text-center">
    <h3>Your Subjects</h3>
    {% if student.subjects.all %}
    <table class="table">
      <thead>
        <th>Subject</th>
        <th>Test Taken</th>
      </thead>
      {% for subject in student.subjects.all %}
      <tr>
        <td>{{subject}}</td>
        <td>
          {% if student.quiz_results.all %} 
            {% for quiz_result in student.quiz_results.all %} 
                    {% if quiz_result.subject == subject %}
                    <i class="far fa-check-circle"></i>
                    {% endif %}
                {% endfor %} 
          {% else %}
            <a class="btn btn-success" href="{% url 'cbt:take_test' subject %}">
                Take Test
            </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>Sorry, you do not have registered courses</p>
    {% endif %}
  </div>
</section>

{% endblock content %}
