{% extends 'student/base.html' %} {% block content %}
<section class="table-responsive px-3">
    <h3>List of Registered Courses</h3>
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Lecturer</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in subjects.all %}
                <tr>
                    <td>{{ subject.title }}</td>
                    <td>{{subject.lecturer}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
</section>
{% endblock content %}
