{% extends 'student/base.html' %} {% block content %}
<h2>{{quiz.title}}</h2>
<h4>{{quiz.description}}</h4>

<form method="post">
  {% csrf_token %}
  <input type="number" name="quiz_id"  value="{{quiz.pk}}" hidden/>
  {% for question in questions %}
  <p>{{question.text}}</p>
  <div>
    {% for option in question.option_set.all %}
    <input type="radio" name="{{question.id}}" value="{{option.id}}" />
    <span>{{option.text}}</span>
    {% endfor %}
  </div>
  {% endfor %}

  <button type="submit" class="btn btn-success">Finish Attempt</button>
</form>
{% endblock content %}
