{% extends 'lecturer/base.html' %} 

{% block content %}
<h3>Your Students</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Matric No</th>
        <th>Test Taken</th>
        {% comment %} <th>View Result</th> {% endcomment %}
    </tr>
    {% for student in students %} 
    <tr>
        <td>{{student}}</td>
        <td>{{student.matric_no}}</td>
        {% comment %} <td>
            {% if test_results %}
            {% for test_result in test_results %} 
                {% if test_result.student == student %}
                    {{ test_result.score }}
                {% else %} 
                    Not Taken Yet
                {% endif %}
            {% endfor %}
            {% else %}
            No Test Score
            {% endif %}

        </td> {% endcomment %}
        <td>
            <button class="btn btn-info">View Result</button>
        </td>
       

    </tr>
        
    {% endfor %}
    
</table>


{% endblock content %}
